.animeCard__container {
  margin: 10px auto;
}

.animeCard__paper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.animeCard__paper:hover {
  background: lightgray;
  opacity: 0.8;
}
