@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

body {
  // background-color: #121a28;
  // background-color: #673d4d;
  background: radial-gradient(
    circle,
    rgba(17, 13, 14, 1) 4%,
    rgba(103, 61, 77, 1) 68%,
    rgba(17, 13, 14, 1) 95%
  );
  overflow-x: hidden;
}
